**/.DS_Store
**/.env
**/node_modules
yarn-error.log

/.fusion
/jest-coverage/
/cypress-coverage/
/coverage/

/resources/dist
resources/dist/**

/data/db/
/data/dumps/**
!/data/dumps/.gitkeep
/data/restore/**
!/data/restore/.gitkeep

/dist
**/dist
.dist
.idea/*
*.swn
*.swo
*.swp
*~

/cypress/screenshots/**
/cypress/videos/**

/packages/*/index.js
packages/site-components/css
packages/site-components/core

packages/site-components/css/docs/**/data.js
packages/site-components/css/build/data.js
.storybook/backgrounds.js

/public
.now
lerna-debug.log
storybook-static
.nyc_output/
packages/site-components/core
packages/site-components/esm
.next

build-storybook.log
reports

**/fuse-index.json
fuse-index.json
.yalc
**/.yalc

.npmrc
docs/colors/data.js
docs/spacers/data.js
docs/tachyons/data.js

packages/site-components/css/amp.js
packages/site-components/css/index.js

ca.*
cert.*
cert.pem
key.pem
ca.crt
ca.key
cert.crt
cert.key

.jest-cache

packages/**/node_modules
packages/**/.next

.env.local

# ignore ultra
.ultra.cache.json

.yalc
yalc.lock