**/data.js
**/**/data.js
**/goldenCopyData.js
node_modules/
coverage/
dist/
build/
out/
public/
core/
.next/
**/node_modules/
**/core/
**/dist/
packages/**/node_modules
packages/**/.next
cypress-coverage
.nyc_output/
data/
fuse-index.json
jest-coverage
**/goldenCopyData.js
.next/
public/
docs/**/data.js