**/data.js
**/**/data.js
packages/site-components/css/amp.js
packages/site-components/css/index.js
**/goldenCopyData.js
node_modules/
coverage/
dist/
build/
out/
public/
packages/site-components/css/docs/**/data.js
core/
.next/
**/node_modules/
**/core/
**/dist/
packages/**/node_modules
packages/**/.next
cypress-coverage
.nyc_output/
data/
fuse-index.json
jest-coverage
**/goldenCopyData.js
.next/
public/
packages/site-components/css
docs/**/data.js
packages/site-components/core
packages/site-components/src/css/colors.css