@font-face {
  font-family: Postoni;
  font-weight: 700;
  font-display: fallback;
  src: url(https://www.washingtonpost.com/wp-stat/assets/fonts/PostoniWide-Bold.woff2);
}

@font-face {
  font-family: Postoni;
  font-weight: 300;
  font-display: fallback;
  src: url(https://www.washingtonpost.com/wp-stat/assets/fonts/PostoniWide-Regular.woff2);
}

@font-face {
  font-family: Postoni;
  font-weight: 300;
  font-style: italic;
  font-display: fallback;
  src: url(https://www.washingtonpost.com/wp-stat/assets/fonts/PostoniWide-Italic.woff);
}
@font-face {
  font-family: Postoni;
  font-weight: 700;
  font-style: italic;
  font-display: fallback;
  src: url(https://www.washingtonpost.com/wp-stat/assets/fonts/PostoniWide-Bold_Italic.woff);
}

@font-face {
  font-family: Franklin;
  font-weight: 700;
  font-display: fallback;
  src: url(https://www.washingtonpost.com/wp-stat/assets/fonts/ITC_Franklin-Bold.woff2);
}

@font-face {
  font-family: Franklin;
  font-weight: 300;
  font-display: fallback;
  src: url(https://www.washingtonpost.com/wp-stat/assets/fonts/ITC_Franklin-Light.woff2);
}

@font-face {
  font-family: PostoniUltra;
  font-weight: 900;
  font-style: italic;
  font-display: fallback;
  src: url(https://www.washingtonpost.com/wp-stat/assets/fonts/PostoniDisplayMag-Ultra_Italic.woff2);
}

@font-face {
  font-family: PostoniUltra;
  font-weight: 900;
  font-display: fallback;
  src: url(https://www.washingtonpost.com/wp-stat/assets/fonts/PostoniDisplayMag-Ultra.woff2);
}
