/*
    custom-template specific build

    disables styles not relevant to the custom template and adds some lost normalization
*/

@import './normalize.css';
@import './variables.css';
/* @import "./unstable-theme.css"; */
@import './borders.css';
@import './colors.css';
@import './bg.css';
@import './spacers/index.css';
/* @import "./header.css"; */
@import './typography/index.css';
@import './btn.css';
@import './motion.css';
@import './shadows.css';
@import './box-shadows.css';
@import './social.css';
@import './widths.css';
@import './heights.css';
@import './fill.css';
@import './grid.css';
@import './aspect-ratio.css';
@import './a11y.css';
/* @import "./shame.css"; */
@import './input.css';
@import './focus.css';
@import './print.css';
@import './overlay.css';
@import './transforms.css';
@import './animations.css';
@import './tooltip.css';
@import './random.css';

/* restore some normalizing */

body {
  font-family: var(--font-family-franklin);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

figure,
p {
  margin: 0;
}

figure {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}
blockquote {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

button {
  display: inline-block;
  background-color: inherit;
  border-color: inherit;
  border-style: inherit;
  padding: inherit;
  font: inherit;
  color: inherit;
  text-transform: inherit;
}
button:focus {
  outline: none;
}
