:root {
    --wpds-colors-alpha25: rgba(0,0,0,.05);
    --wpds-colors-alpha50: rgba(102,102,102,.5);
    --wpds-colors-gray0: rgba(0,0,0,1);
    --wpds-colors-gray20: rgba(17,17,17,1);
    --wpds-colors-gray40: rgba(42,42,42,1);
    --wpds-colors-gray60: rgba(73,73,73,1);
    --wpds-colors-gray80: rgba(102,102,102,1);
    --wpds-colors-gray100: rgba(115,115,115,1);
    --wpds-colors-gray200: rgba(170,170,170,1);
    --wpds-colors-gray300: rgba(212,212,212,1);
    --wpds-colors-gray400: rgba(233,233,233,1);
    --wpds-colors-gray500: rgba(240,240,240,1);
    --wpds-colors-gray600: rgba(247,247,247,1);
    --wpds-colors-gray700: rgba(255,255,255,1);
    --wpds-colors-blue40: rgba(10,50,88,1);
    --wpds-colors-blue60: rgba(15,75,132,1);
    --wpds-colors-blue80: rgba(19,102,179,1);
    --wpds-colors-blue100: rgba(22,109,252,1);
    --wpds-colors-blue200: rgba(87,132,197,1);
    --wpds-colors-blue300: rgba(132,164,214,1);
    --wpds-colors-blue400: rgba(172,197,231,1);
    --wpds-colors-blue500: rgba(211,231,250,1);
    --wpds-colors-blue600: rgba(231,240,254,1);
    --wpds-colors-red40: rgba(99,16,14,1);
    --wpds-colors-red60: rgba(142,31,27,1);
    --wpds-colors-red80: rgba(190,44,37,1);
    --wpds-colors-red100: rgba(234,0,23,1);
    --wpds-colors-red200: rgba(211,95,79,1);
    --wpds-colors-red300: rgba(229,138,124,1);
    --wpds-colors-red400: rgba(242,180,171,1);
    --wpds-colors-red500: rgba(249,221,219,1);
    --wpds-colors-red600: rgba(253,231,231,1);
    --wpds-colors-pink40: rgba(105,11,44,1);
    --wpds-colors-pink60: rgba(149,25,64,1);
    --wpds-colors-pink80: rgba(195,39,85,1);
    --wpds-colors-pink100: rgba(255,79,131,1);
    --wpds-colors-pink200: rgba(213,94,119,1);
    --wpds-colors-pink300: rgba(228,138,155,1);
    --wpds-colors-pink400: rgba(239,180,191,1);
    --wpds-colors-pink500: rgba(249,222,231,1);
    --wpds-colors-pink600: rgba(254,234,240,1);
    --wpds-colors-purple40: rgba(93,18,84,1);
    --wpds-colors-purple60: rgba(136,27,121,1);
    --wpds-colors-purple80: rgba(182,35,161,1);
    --wpds-colors-purple100: rgba(209,56,191,1);
    --wpds-colors-purple200: rgba(201,92,182,1);
    --wpds-colors-purple300: rgba(217,137,201,1);
    --wpds-colors-purple400: rgba(234,179,223,1);
    --wpds-colors-purple500: rgba(248,221,244,1);
    --wpds-colors-purple600: rgba(250,238,249,1);
    --wpds-colors-teal40: rgba(11,57,64,1);
    --wpds-colors-teal60: rgba(15,84,95,1);
    --wpds-colors-teal80: rgba(15,113,128,1);
    --wpds-colors-teal100: rgba(3,175,202,1);
    --wpds-colors-teal200: rgba(74,142,155,1);
    --wpds-colors-teal300: rgba(118,172,182,1);
    --wpds-colors-teal400: rgba(159,203,211,1);
    --wpds-colors-teal500: rgba(199,234,239,1);
    --wpds-colors-teal600: rgba(234,251,254,1);
    --wpds-colors-orange40: rgba(118,53,1,1);
    --wpds-colors-orange60: rgba(166,74,0,1);
    --wpds-colors-orange80: rgba(216,97,0,1);
    --wpds-colors-orange100: rgba(243,117,14,1);
    --wpds-colors-orange200: rgba(230,130,61,1);
    --wpds-colors-orange300: rgba(241,162,106,1);
    --wpds-colors-orange400: rgba(249,194,150,1);
    --wpds-colors-orange500: rgba(251,225,195,1);
    --wpds-colors-orange600: rgba(255,239,224,1);
    --wpds-colors-green40: rgba(40,81,21,1);
    --wpds-colors-green60: rgba(56,113,30,1);
    --wpds-colors-green80: rgba(73,147,39,1);
    --wpds-colors-green100: rgba(54,167,92,1);
    --wpds-colors-green200: rgba(110,169,81,1);
    --wpds-colors-green300: rgba(145,192,120,1);
    --wpds-colors-green400: rgba(178,214,160,1);
    --wpds-colors-green500: rgba(213,237,202,1);
    --wpds-colors-green600: rgba(238,249,234,1);
    --wpds-colors-gold40: rgba(109,69,8,1);
    --wpds-colors-gold60: rgba(158,97,5,1);
    --wpds-colors-gold80: rgba(194,136,47,1);
    --wpds-colors-gold100: rgba(229,160,55,1);
    --wpds-colors-gold200: rgba(211,158,76,1);
    --wpds-colors-gold300: rgba(222,181,126,1);
    --wpds-colors-gold400: rgba(233,203,164,1);
    --wpds-colors-gold500: rgba(243,228,205,1);
    --wpds-colors-gold600: rgba(250,240,226,1);
    --wpds-colors-yellow100: rgba(255,236,68,1);
    --wpds-colors-yellow600: rgba(253,249,216,1);
    --wpds-colors-mustard40: rgba(100,72,1,1);
    --wpds-colors-mustard60: rgba(145,104,1,1);
    --wpds-colors-mustard80: rgba(193,139,0,1);
    --wpds-colors-mustard100: rgba(226,163,31,1);
    --wpds-colors-mustard200: rgba(217,158,32,1);
    --wpds-colors-mustard300: rgba(235,179,71,1);
    --wpds-colors-mustard400: rgba(247,202,111,1);
    --wpds-colors-mustard500: rgba(254,227,156,1);
    --wpds-colors-mustard600: rgba(251,241,221,1);
    --wpds-colors-alpha25-static: rgba(0,0,0,.05);
    --wpds-colors-alpha50-static: rgba(102,102,102,.5);
    --wpds-colors-gray0-static: rgba(0,0,0,1);
    --wpds-colors-gray20-static: rgba(17,17,17,1);
    --wpds-colors-gray40-static: rgba(42,42,42,1);
    --wpds-colors-gray60-static: rgba(73,73,73,1);
    --wpds-colors-gray80-static: rgba(102,102,102,1);
    --wpds-colors-gray100-static: rgba(115,115,115,1);
    --wpds-colors-gray200-static: rgba(170,170,170,1);
    --wpds-colors-gray300-static: rgba(212,212,212,1);
    --wpds-colors-gray400-static: rgba(233,233,233,1);
    --wpds-colors-gray500-static: rgba(240,240,240,1);
    --wpds-colors-gray600-static: rgba(247,247,247,1);
    --wpds-colors-gray700-static: rgba(255,255,255,1);
    --wpds-colors-blue40-static: rgba(10,50,88,1);
    --wpds-colors-blue60-static: rgba(15,75,132,1);
    --wpds-colors-blue80-static: rgba(19,102,179,1);
    --wpds-colors-blue100-static: rgba(22,109,252,1);
    --wpds-colors-blue200-static: rgba(87,132,197,1);
    --wpds-colors-blue300-static: rgba(132,164,214,1);
    --wpds-colors-blue400-static: rgba(172,197,231,1);
    --wpds-colors-blue500-static: rgba(211,231,250,1);
    --wpds-colors-blue600-static: rgba(231,240,254,1);
    --wpds-colors-red40-static: rgba(99,16,14,1);
    --wpds-colors-red60-static: rgba(142,31,27,1);
    --wpds-colors-red80-static: rgba(190,44,37,1);
    --wpds-colors-red100-static: rgba(234,0,23,1);
    --wpds-colors-red200-static: rgba(211,95,79,1);
    --wpds-colors-red300-static: rgba(229,138,124,1);
    --wpds-colors-red400-static: rgba(242,180,171,1);
    --wpds-colors-red500-static: rgba(249,221,219,1);
    --wpds-colors-red600-static: rgba(253,231,231,1);
    --wpds-colors-pink40-static: rgba(105,11,44,1);
    --wpds-colors-pink60-static: rgba(149,25,64,1);
    --wpds-colors-pink80-static: rgba(195,39,85,1);
    --wpds-colors-pink100-static: rgba(255,79,131,1);
    --wpds-colors-pink200-static: rgba(213,94,119,1);
    --wpds-colors-pink300-static: rgba(228,138,155,1);
    --wpds-colors-pink400-static: rgba(239,180,191,1);
    --wpds-colors-pink500-static: rgba(249,222,231,1);
    --wpds-colors-pink600-static: rgba(254,234,240,1);
    --wpds-colors-purple40-static: rgba(93,18,84,1);
    --wpds-colors-purple60-static: rgba(136,27,121,1);
    --wpds-colors-purple80-static: rgba(182,35,161,1);
    --wpds-colors-purple100-static: rgba(209,56,191,1);
    --wpds-colors-purple200-static: rgba(201,92,182,1);
    --wpds-colors-purple300-static: rgba(217,137,201,1);
    --wpds-colors-purple400-static: rgba(234,179,223,1);
    --wpds-colors-purple500-static: rgba(248,221,244,1);
    --wpds-colors-purple600-static: rgba(250,238,249,1);
    --wpds-colors-teal40-static: rgba(11,57,64,1);
    --wpds-colors-teal60-static: rgba(15,84,95,1);
    --wpds-colors-teal80-static: rgba(15,113,128,1);
    --wpds-colors-teal100-static: rgba(3,175,202,1);
    --wpds-colors-teal200-static: rgba(74,142,155,1);
    --wpds-colors-teal300-static: rgba(118,172,182,1);
    --wpds-colors-teal400-static: rgba(159,203,211,1);
    --wpds-colors-teal500-static: rgba(199,234,239,1);
    --wpds-colors-teal600-static: rgba(234,251,254,1);
    --wpds-colors-orange40-static: rgba(118,53,1,1);
    --wpds-colors-orange60-static: rgba(166,74,0,1);
    --wpds-colors-orange80-static: rgba(216,97,0,1);
    --wpds-colors-orange100-static: rgba(243,117,14,1);
    --wpds-colors-orange200-static: rgba(230,130,61,1);
    --wpds-colors-orange300-static: rgba(241,162,106,1);
    --wpds-colors-orange400-static: rgba(249,194,150,1);
    --wpds-colors-orange500-static: rgba(251,225,195,1);
    --wpds-colors-orange600-static: rgba(255,239,224,1);
    --wpds-colors-green40-static: rgba(40,81,21,1);
    --wpds-colors-green60-static: rgba(56,113,30,1);
    --wpds-colors-green80-static: rgba(73,147,39,1);
    --wpds-colors-green100-static: rgba(54,167,92,1);
    --wpds-colors-green200-static: rgba(110,169,81,1);
    --wpds-colors-green300-static: rgba(145,192,120,1);
    --wpds-colors-green400-static: rgba(178,214,160,1);
    --wpds-colors-green500-static: rgba(213,237,202,1);
    --wpds-colors-green600-static: rgba(238,249,234,1);
    --wpds-colors-gold40-static: rgba(109,69,8,1);
    --wpds-colors-gold60-static: rgba(158,97,5,1);
    --wpds-colors-gold80-static: rgba(194,136,47,1);
    --wpds-colors-gold100-static: rgba(229,160,55,1);
    --wpds-colors-gold200-static: rgba(211,158,76,1);
    --wpds-colors-gold300-static: rgba(222,181,126,1);
    --wpds-colors-gold400-static: rgba(233,203,164,1);
    --wpds-colors-gold500-static: rgba(243,228,205,1);
    --wpds-colors-gold600-static: rgba(250,240,226,1);
    --wpds-colors-yellow100-static: rgba(255,236,68,1);
    --wpds-colors-yellow600-static: rgba(253,249,216,1);
    --wpds-colors-mustard40-static: rgba(100,72,1,1);
    --wpds-colors-mustard60-static: rgba(145,104,1,1);
    --wpds-colors-mustard80-static: rgba(193,139,0,1);
    --wpds-colors-mustard100-static: rgba(226,163,31,1);
    --wpds-colors-mustard200-static: rgba(217,158,32,1);
    --wpds-colors-mustard300-static: rgba(235,179,71,1);
    --wpds-colors-mustard400-static: rgba(247,202,111,1);
    --wpds-colors-mustard500-static: rgba(254,227,156,1);
    --wpds-colors-mustard600-static: rgba(251,241,221,1);
    --wpds-colors-primary: var(--wpds-colors-gray20);
    --wpds-colors-secondary: var(--wpds-colors-gray700);
    --wpds-colors-cta: var(--wpds-colors-blue100);
    --wpds-colors-disabled: var(--wpds-colors-alpha25);
    --wpds-colors-accessible: var(--wpds-colors-gray80);
    --wpds-colors-subtle: var(--wpds-colors-gray300);
    --wpds-colors-faint: var(--wpds-colors-gray400);
    --wpds-colors-error: var(--wpds-colors-red100);
    --wpds-colors-success: var(--wpds-colors-green100);
    --wpds-colors-warning: var(--wpds-colors-orange100);
    --wpds-colors-signal: var(--wpds-colors-blue200);
    --wpds-colors-onPrimary: var(--wpds-colors-gray700);
    --wpds-colors-onSecondary: var(--wpds-colors-gray20);
    --wpds-colors-onCta: var(--wpds-colors-gray700-static);
    --wpds-colors-onDisabled: var(--wpds-colors-alpha50);
    --wpds-colors-onMessage: var(--wpds-colors-gray700-static);
}